* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
}

.top-part {
  height: 100vh;
  background-image: url(hero.jpg);
  background-size: cover;
}

.hero {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  height: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-bar {
  background-color: #eff7fa;
  color: #add8e6;
  padding: 1rem;
  align-self: start;
  border-radius: 1rem;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: 1rem;
  width: fit-content;
}

input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
}

input::placeholder {
  color: #add8e6;
}

.menu {
  grid-column: 3;
  grid-row: 1;

  justify-self: right;
}

.logo {
  color: #abeb97;
  padding: 1rem 0;
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 600;
  grid-column: 1;
  grid-row: 1;
}
/* header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
} */

.section-hero {
  grid-row: 2;
  grid-column: 1;
  width: 50rem;
  align-self: center;
}

.primary-heading {
  color: #fff44f;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 3rem;
}

.desc {
  font-weight: 500;
  color: #add8e6;
}

.menu-btn:link,
.menu-btn:visited {
  display: inline-block;
  padding: 1rem 0;
  color: #eaa6ab;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  margin-right: 3rem;
}

.menu-btn:hover,
.menu-btn:active {
  text-decoration: none;
  color: #e59096;
  transition: all 0.5s ease;
}

.section-main-body {
  background-color: #eefbea;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

.secondary-heading {
  color: #abeb97;
  font-size: 3.2rem;
  margin: 2rem 0;
}

.temp-info {
  display: grid;
  width: 50%;
  background-color: #e7f3fe;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px 10px;
  border: 4px solid #e1ade6;
  border-radius: 15px;

  align-items: center;
  justify-items: left;
}

.location-city {
  grid-column: 1/2;
  grid-row: 1;
  color: #4ea6c2;
  font-weight: 450;
  font-size: 3rem;
}

.location-country {
  grid-column: 1/2;
  grid-row: 2;
  color: #4ea6c2;
  font-weight: 450;
  font-size: 2.5rem;
}

.location-temp {
  grid-column: 3;
  grid-row: 1;
  color: #c9ade6;
  font-weight: 600;
  font-size: 4rem;
  justify-self: right;
}

.location-windspeed {
  grid-column: 3;
  grid-row: 2;
  color: #4ea6c2;
  font-weight: 450;
  font-size: 2rem;
  font-style: italic;
  justify-self: right;
}

.location-humidity {
  grid-column: 3;
  grid-row: 3;
  color: #4ea6c2;
  font-weight: 450;
  font-size: 2rem;
  justify-self: right;
  font-style: italic;
}

.location-desc {
  grid-column: 1;
  grid-row: 3;
  color: #4ea7c2a4;
  font-weight: 450;
  font-size: 2rem;
}

.wind-icon {
  grid-column: 2;
  grid-row: 2;
}

.humidity-icon {
  grid-column: 2;
  grid-row: 3/4;
}
